.bodyContainer {
    display: flex;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    
}

.dashboardContainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 25vh 20vh;
    grid-template-columns: 20vw;
    gap: 1vh;
    font-size: 2em;
    
    background-color: rgba(11, 73, 114, 0.788);
    color: white;
}

.top,
.bottom{
    display: flex;
    margin: 3vh;
    justify-content: end;
}
.greetings{
    align-self: flex-end;
    
}

.headerContainer {
    display: grid;
    grid-template-columns: 45vw 35vw;
    grid-template-rows: 10vh 10vh;
    width: 80vw;
    
}


.contentContainer {
    display: grid;
    background-color: rgb(231, 225, 225);
    grid-template-columns: 30vw 30vw 20vw;
    grid-template-rows: 27vh 27vh 26vh;
}
.withTitle {
    display: flex;
    flex-direction: column;
}

input {
    width: 30vw;
    height: 2vh;
    background-color: lightgray;
}

h1{
    font-weight: bold;
    align-self: center;


}
h2{
    font-weight: bold;
    font-size: 1.5em;
    align-self: center;
    justify-self: center;
}
.userName{
    font-size: 2em;
    align-self: center;
    justify-self: center;
    
}
li{
    margin: 10px;
}
.icons {
    width: 30px;
    height: 30px;
    
}
.profileBottom {
    width: 85px;
    height: 85px;
    align-self: flex-end;
    
}
.profileTop {
    width: 85px;
    height: 85px;
    align-self: center;
    
}
button {
    width: 10vw;
    height: 3vh;

}

.topRight,
.topLeft,
.bottomLeft,
.bottomRight {
    display: grid;

}

.topLeft{
    grid-template-columns: 30px 30vw;
    grid-template-rows: 10vh;
    column-gap: 10px;
    align-items: center;
}

.topRight {
    grid-template-columns: 50px 85px 10vw;
    grid-template-rows: 10vh;
    align-items:flex-end;
    
}
.notiBell{
    align-self: center;
}

.bottomLeft{
    grid-template-columns: 85px 15vw;
    grid-template-rows: 10vh;
}

.bottomRight{
    grid-template-columns: 10vw 10vw 10vw;
    grid-template-rows: 3vh;
    justify-content: center;
    align-content: flex-end;
    column-gap: 1vw;
    padding-bottom: 1vh;
}

.projectCard{
    width: 25vw;
    height: 20vh;
    border: solid black;
    align-self: center;
    justify-self: center;

    background-color: white;

    padding: 2vh;
}

.card {
    background-color: white;
    align-self: center;
    justify-self: center;
    border: solid black;
    width: 15vw;
    height: 35vh;
    
}




#sidebarAnnouncements{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sidebarTrending {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

   align-self:self-end;

}